{% extends 'layout.html.twig' %}

{% block admin %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ path("home") }}">Home <span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block connect %}
    <a href="{{ path("logout") }}">Log out</a>
{% endblock %}