{% extends 'layout.html.twig' %}

{% block connect %}
    {% if status == false %}
        <a href="{{ path("login") }}">Log in</a>
    {% else %}
        <a href="{{ path("logout") }}">Log out</a>
    {% endif %}
{% endblock %}

{% block main %}
{% endblock %}

{% block title %}{{ parent() }} | Home{% endblock %}