{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Details</h1>
    {{ form_start(mediaForm) }}
    {{ form_widget(mediaForm) }}
    <button type="submit">Modifier</button>
    {{ form_end(mediaForm) }}


    <a href="{{ path("admin") }}"><br>Retour à la liste</a>
{% endblock %}
