{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Details</h1>
    <ul>
        <li>Fichier : {{ media.name }}</li>
        <li>Description : {{ media.description}}</li>
    </ul>


    <a href="{{ path("editMedia", {"id": media.id}) }}"><br>Modifier le fichier</a><a href="{{ path("admin") }}"><br>Retour à la liste</a>
{% endblock %}
